*{
  margin: 0;
  padding: 0;
}

.app{
  align-items: center;
  height: 100vh;
  display: flex;
  background-color: rgb(107, 89, 89);
}

.main{
  margin-left: 10rem;
}

.title{
  padding-top: 0;
  margin-left: 5rem;
  /* background-color: red; */
  font-size: xx-large;
}

